<div class="jumbotron">
  <h1 class="display-4"><span style="color: blueviolet; font-weight: bold; font-family: Arial, Helvetica, sans-serif; margin-right:0.1em; border: blueviolet solid 1px; padding: 6px;">K</span>KatlaSport</h1>
  <p class="lead">Welcome to KatlaSport management console.</p>
  <hr class="my-4">
  <p>Please, click on "Learn more" button to get more information about this project.</p>
  <a class="btn btn-primary btn-lg" href="https://github.com/epam-lab/katla" role="button">Learn more</a>
</div>
