<div class="container">
  <h2>Product Category List</h2>
  <table class="table table-nonfluid">
    <thead>
      <th scope="col">#</th>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <!-- TODO STEP 4 - Add column header here. -->
      <th scope="col">Last Update</th>
      <th scope="col"></th>
    </thead>
    <tbody>
      <tr *ngFor="let productCategory of productCategories">
        <th scope="row">{{productCategory.id}}</th>
        <td>{{productCategory.code}}</td>
        <td>{{productCategory.name}}</td>
        <!-- TODO STEP 4 - Add row cell here. -->
        <td>{{productCategory.lastUpdated}}</td>
        <td>
          <span class="btn-toolbar" role="toolbar" aria-label="Product category action buttons" style="display: block; white-space:nowrap;">
            <div class="btn-group mr-1" role="group" aria-label="Delete group" *ngIf="productCategory.isDeleted">
              <button type="button" class="btn btn-warning">Deleted</button>
            </div>
            <div class="btn-group mr-1" role="group" aria-label="View group">
              <button routerLink="/category/{{productCategory.id}}/products" type="button" class="btn btn-primary">View products</button>
            </div>
            <div class="btn-group" role="group" aria-label="Edit group">
              <button routerLink="/category/{{productCategory.id}}" type="button" class="btn btn-primary">Edit</button>
            </div>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="btn-toolbar" role="toolbar" aria-label="Action buttons">
    <div class="btn-group" role="group" aria-label="Save group">
      <button routerLink="/category" type="button" class="btn btn-primary">New Product Category</button>
    </div>
  </div>
</div>

